# Compiled output
/dist
/build
/coverage

# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
/uploads
/public
/tmp
/.temp
/.tmp

# Environment files
.env
.env.development
.env.test
.env.production

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# System files
.DS_Store
Thumbs.db
